{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block content_block %}
    <div class="content-block">
        <div class="container">
            <div id="root"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}" />
{% endblock %}